<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DF PEER MENTORS</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>
<body>
    <div id="speechContainer">

        <h1>190330039 & 190330210 DF  PEER MENTOR PROJECT</h1>
        <h2>IMAGE STEGANOGRAPHY</h2>
        <p>Select below to encode or decode</p>


        <form method="post" action="upload" enctype="multipart/form-data">
            <br>
                <label for="fname">ENCODE IMAGE</label>
                <input type="submit" id="fname" name="fname" size="5" hidden/>

            <br>
        </form>

         <form method="post" action="decode_text" enctype="multipart/form-data">
            <br>
            <input type="submit" id="btn-6" name="dadd" value="DECODE IMAGE" />
        </form>

    </div>

</body>
</html>