<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VI206KLU</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>
<body>
    <div id="speechContainer">

        <h1>VI206KLU AI, ML | English- Hindi Code-switched Spoken Language Identification</h1>
        <p>Press the below button to start recording.</p>
        <form method="post" action="output" enctype="multipart/form-data">
            <br>
            <input type="submit" id="btn-6" value="RECORD"/>

        </form>
    </div>

</body>
</html>