<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DF PEER MENTORS</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>
<body>
    <div id="speechContainer">
        <h2>Upload an image</h2>

      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file"  />
         <input type = "submit"/>
      </form>
   </div>

   </body>
</html>